<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Crycker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Crycker.Properties.Settings>
            <setting name="RefreshInterval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Provider" serializeAs="String">
                <value>Bitstamp</value>
            </setting>
            <setting name="Currency" serializeAs="String">
                <value>EUR</value>
            </setting>
            <setting name="Coin" serializeAs="String">
                <value>BTC</value>
            </setting>
        </Crycker.Properties.Settings>
    </userSettings>
</configuration>