<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>

    <root>
      <level value="DEBUG"/>
      <appender-ref ref="FileAppender" />
      <appender-ref ref="ColoredConsoleAppender" />
    </root>

    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="cricker-log.txt" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value=" %d [%level] %message (%logger) [%thread]%newline" />
      </layout>
    </appender>

    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, highintensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow, highintensity" />
      </mapping>
      <mapping>
        <level value="ALL" />
        <foreColor value="White, highintensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%level] %message (%logger) [%thread]%newline" />
      </layout>
    </appender>

  </log4net>

</configuration>